<div class="row">
	<div class="col-sm-24 build-info">
	  <p class="build-title">{{build}}</p>
	  <table class="table table-striped">
		<thead>
		  <tr>
			<th scope="col" class="text-center">Error</th>
			<th scope="col" class="text-center">Job Count</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="claim in claimSummary">
			<td>{{claim.claim}}</td>
			<td>{{claim.count}}</td>
		  </tr>
		</tbody>
	  </table>
	</div>
</div>
<div class="row">
	<view-timeline class="col-sm-24 section" builds="versionBuilds" on-change="onBuildChange" id="timeline" />
</div>
<ui-view/>